

{% block title %}
Signup
{% endblock %}

{% block content %}
<div>
    <h2>Log</h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
    </form>
</div>

{% endblock %}