{% extends 'base.html' %}

{% block Titulo %} Signup {% endblock%}   

{% block content %}
  <h2>Signup</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="btn btn-success">Signup</button>
  </form>
{% endblock %}
