{% extends 'base.html' %}
{% block title %} Signin {% endblock %} 

{% block content %} 
<h2>Signin</h2> 
{{ msg }} 
<form method="post"> 
{% csrf_token %}
{{ form.as_p }}
<button type="submit" class="btn btn-primary">Login</button> 
</form> 
{% endblock %}