{% extends "base.html" %}

{% block title %} Agregar nueva tarea {% endblock%} 
{% block content %} 

<!-- card bs5-card-head-foot -->
<div class="card">
    <div class="card-header">
        Crear una tarea
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos de la tarea</h4>
        {% include 'tarea/form.html' %}
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>
{% endblock %}