{% extends "base.html" %}

{% block title %} Editar tarea {% endblock%} 

{% block content %} 

<div class="card">
    <div class="card-header"> 
        Editar la información de una tarea 
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos de la tarea</h4>
        {% include 'tarea/form.html' %}
    </div>
</div>

{% endblock %}