<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {% for campo in formulario %}
    
    <!--crear campo bs5-form-input -->
    <div class="mb-3">
      <label for="" class="form-label">{{campo.label}}:</label>
      
      {% if campo.field.widget.input_type == 'file' and campo.value %}
      <br>
      <img src="{{MEDIA_URL}}/imagenes/{{campo.value}}" width="100px" alt="" srcset="">
      {% endif %}

      <input 
        type="{{ campo.field.widget.input_type }}"
        class="form-control" 
        name="{{campo.name}}" 
        id="" 
        aria-describedby="helpId" 
        placeholder="{{ campo.label }}" 
        value="{{ campo.value | default:'' }}" />
    </div>

    <div class="col-12 help-text">{{campo.errors}}</div>
  {% endfor %}
  
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="valor" id="valor" {% if formulario.valor.value %}checked{% endif %}>
    <label class="form-check-label" for="valor">
      Tarea importante
    </label>
  </div>

  <br><input name="" id="" class="btn btn-success" type="submit" value="Guardar información">
  <a name="" id="" class="btn btn-primary" href="{% url 'tareas' %}" role="button">Cancelar</a>
  
</form>