{% extends 'base.html' %}

{% block title %} Lista de tareas {% endblock %}
<!--datos bs5-card-head-foot -->

{% block content %} 
<div class="card">
    <div class="card-header">
        <!-- Listar tareas bs5-butt-a-->
        <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button">Agregar nueva tarea</a>
    </div>

    <div class="card-body">
        <h4 class="card-title">Tareas Pendientes</h4>
        
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Imagen</th>
                        <th>Descripción</th>
                        <th>Usuario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tarea in tareas %}
                    <tr>
                        <td>
                            {% if tarea.valor %}
                                <strong>{{ tarea.titulo }}</strong>
                            {% else %}
                                {{ tarea.titulo }}
                            {% endif %}
                        </td>
                        <td>
                       
                        {% if tarea.imagen %}
                            <img src="{{ tarea.imagen.url }}" height="100px"/> 
                        {% else %}
                            <img src="imagen_default.png"/>
                        {% endif %}                        
                        </td>
                        <td>{{ tarea.descripcion }}</td>
                        <td>{{ tarea.usuario.username }}</td>
                        <td>
                        <br><a name="" id="" class="btn btn-info" 
                            href="{% url 'editar' tarea.id %}" role="button">Editar</a> 
                        <br> <a name="" id="" class="btn btn-danger" 
                            href="{% url 'eliminar' tarea.id %}" role="button">Borrar</a>
                        <br>
                            <form action="{% url 'tareacompletada' tarea.id %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-success">
                                    Enviar completo
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        

    </div>
    
</div>

{% endblock %}