{% extends 'base.html' %}

{% block title %} Lista de tareas {% endblock %}
<!--datos bs5-card-head-foot -->

{% block content %} 
<div class="card">
    <div class="card-header">
        <!-- Listar tareas bs5-butt-a-->
    </div>

    <div class="card-body">
        <h4 class="card-title">Tareas Realizadas</h4>
        
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Imagen</th>
                        <th>Descripción</th>
                        <th>fechaCompletado</th>                        
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tarea in tareas %}
                    <tr>
                        <td>
                            {% if tarea.valor %}
                                <strong>{{ tarea.titulo }}</strong>
                            {% else %}
                                {{ tarea.titulo }}
                            {% endif %}
                        </td>
                        <td>
                       
                        {% if tarea.imagen %}
                            <img src="{{ tarea.imagen.url }}" height="100px"/> 
                        {% else %}
                            <img src="imagen_default.png"/>
                        {% endif %}                        
                        </td>
                        <td>{{ tarea.descripcion }}</td>
                        <td>{{ tarea.fechacompletada|date:'M i Y:i' }}</td>
                        <td>
                        <br>
                            <form action="{% url 'cancelartareacompletada' tarea.id %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-info">
                                    cancelar Enviar completo
                                </button>
                            </form>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        

    </div>
    
</div>

{% endblock %}