
{% extends 'base.html' %}

{% block title %} Ranking de usuarios {% endblock %}
<!--datos bs5-card-head-foot -->

{% block content %} 
<div class="card">
    <div class="card-header">
        <!-- Listar tareas bs5-butt-a-->
    </div>

    <div class="card-body">
        <h4 class="card-title">Ranking de tareas</h4>
        
        <div class="table-responsive">
            <table>
                <tr>
                  <th>Usuario</th>
                  <th>Total tareas</th> 
                </tr>
              
                {% for user in ranking %}
                <tr>
                  <td>{{ user.username }}</td>
                  <td>{{ user.total_tareas }}</td>
                </tr>
                {% endfor %}
              
              </table>
        </div>
    </div>
</div>

{% endblock %}


