{% extends "base.html" %}

{% block title %} Inicio {% endblock%} 
{% block content %} 


<div class="p-5 bg-light">
    <div class="container">
      <h1 class="display-3 text-center">Bienvenidos al sitio de Cosmos</h1>
      <hr class="my-2">
      <p class="lead">Logística de desempeño de los trabajadores, agregar tarea al empleado y al cumplirlas, revele reporte del mejor empleado a la entrega de tareas</p>
      <hr class="my-2">
       
      <div class="text-center">
        {% if user.is_authenticated %}
        <a name="" id="" class="btn btn-primary btn-lg border-dark" href="{% url 'tareas' %}" role="button">Empezar</a>
        {% else %}
        <a name="" id="" class="btn btn-primary btn-lg border-dark" href="/signin" role="button">Iniciar sesión</a>
        <a name="" id="" class="btn btn-primary btn-lg border-dark" href="/signup" role="button">Regístrate</a>
        {% endif %} 
      </div>

    </div>
</div> 

{% endblock %}
