{% extends 'base.html' %}

{% block title %} Nosotros {% endblock %}

{% block content %} Sección de Nosotros  {% endblock %}






<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Sección de Nosotros 
</body>
</html>
-->
