{% load static %}
<!doctype html>
<html lang="en">

<head>

  <title>{% block title %} {% endblock %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  {% if user.is_authenticated %}
  <li>
    <a href="cerrarsesion">Cerrar sesión</a>
    <p>by, {{ user.username }}!</p>
  </li>
  {% else %}
  <li>
      <a href="/signup">Registrate</a>
  </li>
  {% endif %}
  <hr>
  <!-- light-->
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/"> COSMOS</a>
    <div class="nav navbar-nav ms-auto">
        <a class="nav-item nav-link active" href="{% url 'home' %}">Inicio </a>
        <a class="nav-item nav-link active" href="{% url 'tareas' %}">Tareas </a>
        <a class="nav-item nav-link active" href="{% url 'tareasrealizadas' %}">Tareas Realizadas</a>
        <a class="nav-item nav-link active" href="{% url 'ranking_usuarios' %}">Ranking de usuarios </a>
        
    </div>
  </nav>

  <div class="container">

    <div class="row">
        <div class="col-12">
            <br/>
            {% block content %} 
            {% endblock %}
        </div>
    </div>
  </div>

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>




